#info-connected {
  background-color: var(--main-color-green);
  color: var(--main-color-white);
  text-align: center;
}

#page-connected {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-connected > div {
  margin: 1rem auto;
}

.dashboard-tab-content > h1 {
  text-align: center;
}

/* - - - - P R O G R A M S - - - - */
#div-choose-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-choose-client {
  background-color: #eee;
  padding: 10px 20px;
  margin: 20px auto;
}

#search-menu-container {
  position: relative;
}

#search-menu {
  position: absolute;
  background-color: white;

  display: flex;
  flex-direction: column;

  z-index: 1;
  top: 20px;
  left: 0px;
  width: 300px;
  min-height: 200px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.search-menu-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
}

.search-menu-item:hover {
  background-color: #eee;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
}

#infos-client {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* - - - - P R O G R A M - D E T A I L (T A B L E) - - - - */
#div-display-programs > div {
  margin-top: 20px;

  width: 1000px;
  max-width: 100%;

  border: 1px solid black;

  margin-top: 20px;

  display: flex;
  flex-direction: column;
}

#div-display-programs input[type="text"] {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;

  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

#div-program-cardio {
}

.form-cardio {
  display: contents;
}

.program-title {
  width: 1000px;
  max-width: 100%;
  text-align: center;
  background-color: #eee;
  margin-bottom: 10px;
}

.program-subtitle {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  text-align: center;
}

.program-subtitle > div:first-child {
  width: 35%;
  border: 1px solid black;
}
.program-subtitle > div:not(first-child) {
  width: 13%;
  border: 1px solid black;
}

.cardio-big-line {
  display: flex;
  flex-direction: row;
}

.cardio-nom-machines {
  display: flex;
  flex-direction: row;

  width: 35%;
  padding: 0;
}

.cardio-img {
  border: 1px solid black;
  padding: 10px 10px;
  width: 40%;
  text-align: center;
}

.cardio-img > img {
  width: 70px;
  max-height: 57px;
}

.cardio-nom {
  flex: auto;
  text-align: center;
  border: 1px solid black;
  padding-top: 12px;
  font-weight: bold;
  font-size: 14px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardio-parametres {
  width: 13%;
}

.cardio-parametres > div {
  border: 1px solid black;
  padding: 2px;
}

.cardio-seance {
  width: 13%;
  font-size: 12px;

  display: flex;
  flex-direction: column;
}

.cardio-seance > div {
  border: 1px solid black;
  flex: 1;

  padding: 2px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* - - - - C L I E N T S - - - - */

#form-add-client-subtitle {
  text-align: center;
  font-size: 1.2rem;
}

.client-form-error-message {
  color: red;
  font-weight: bold;
  display: none;
}

#div-manage-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-add-client {
  /*  background-color: #ddd; */
  padding: 10px;
  margin: 20px auto;
}

.form-add-client-new {
  background-color: lightgreen;
}

.form-add-client-update {
  background-color: lightcoral;
}

.form-client-input {
  margin: 10px auto;
  padding: 10px;
  background-color: #eee;
}

.form-client-input > label {
}

.form-client-input > input {
}

#clients-list-table th,
#clients-list-table td {
  border: 1px solid black;
  padding: 2px 4px;
}

#clients-list-table th {
  text-align: center;
}

#client-form-buttons {
  display: flex;
  justify-content: flex-end;
}

/* - - - - P A S S W O R D - - - -  */

#form-password {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#password-form-buttons {
  display: flex;
}

#messageConnexionError {
  text-align: center;
  color: red;
  background-color: lightgoldenrodyellow;
  width: 300px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: bold;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#messagePasswordUpdated {
  text-align: center;
  color: green;
  background-color: lightgrey;
  width: 300px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: bold;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.password-form-error {
  color: red;
  font-weight: bold;
}

#dashboard-tabs {
  display: flex;
  justify-content: flex-start;

  width: 1000px;
  max-width: 96%;
}

.dashboard-tab {
  border: 2px solid orange;
}

.dashboard-tab-content {
  display: none;
  width: 1000px;
  max-width: 96%;
}

.dashboard-tab-content-active {
  display: block;
}

.dashboard-tab-content-inactive {
  /* display: none; */
}

.dashboard-tab-title {
  background-color: rgba(211, 211, 211, 0.486);
  padding: 3px 1rem;
  font-size: 14px;
  border: 1px solid gray;
}

.dashboard-tab-title-active {
  background-color: lightgray;
  border: 1px solid orange;
}

.dashboard-link {
  cursor: pointer;
  color: var(--main-color-red);
}

.dashboard-link:hover {
  color: blue;
  text-decoration: underline;
  text-decoration-color: black;
  -moz-text-decoration-color: black;
}
